.gallery {
  margin: 0 -#{$grid-margin};

  &-slider {
    margin-bottom: 4px;
  }

  &-thumbnail {
    overflow-x: auto;
    @include no-scrollbar;

    .thumbnail-list {
      @include flexbox(start, center);
      margin-left: 2px;
    }

    .thumbnail-item {
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }

      button {
        position: relative;
        width: 64px;
        height: 64px;
        border-radius: 4px;
        overflow: hidden;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border: 3px solid transparent;
          border-radius: 4px;
          content: '';
        }
      }

      &.tns-nav-active {
        button {
          &:after {
            border-color: $blue;
          }
        }
      }
    }
  }

  @include responsive(T) {
    margin: 0;

    &-slider {
      position: relative;
      margin-bottom: 6px;
    }

    &-controls {
      @include flexbox(between, center);
      @include position-center-y(absolute);
      width: 100%;
      padding: 0 52px;

      button {
        @include flexbox(center, center);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $white;
        color: $primary;
        transition: background-color 100ms ease-in-out, color 100ms ease-in-out;

        i {
          position: relative;
          top: 1px;
          font-size: 28px;
        }

        &.is-prev {
          transform: rotate(90deg);
        }

        &.is-next {
          transform: rotate(-90deg);
        }

        &:hover {
          background-color: $blue;
          color: $white;
        }

        &:disabled {
          visibility: hidden;
        }
      }
    }

    &-thumbnail {
      .thumbnail-list {
        margin-left: 0;
      }

      .thumbnail-item {
        margin-right: 6px;

        button {
          width: 75px;
          height: 75px;

          img {
            transition: transform 200ms ease-in-out;
          }

          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}
