.gnb {
  $padding: 8px;

  &-nav-list {
    @include flexbox(start, center);
  }

  &-nav-item {
    a {
      display: block;
      padding: $padding;
      margin-right: 24px - ($padding * 2);
      @include text-style(18, $primary);
      font-weight: 700;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &.is-active {
      a {
        color: $blue;
      }
    }
  }
}
