.product-review {
  .review-feed-item {
    border-bottom: 1px solid $border;

    &:last-child {
      border-bottom: 0;
    }
  }

  .review-empty {
    padding: 36px 0;
    @include text-style(16, $secondary);
    text-align: center;

    strong {
      color: $blue;
    }
  }
}
