.product-carousel {
  $grid-margin: 15px;

  position: relative;

  &-slider {
    margin: 0 -#{$grid-margin};
  }

  &-thumbnail {
    @include position-center-x(absolute);
    bottom: 16px;
  }

  .thumbnail-list {
    @include flexbox(start, center);
  }

  .thumbnail-item {
    button {
      width: 6px;
      height: 6px;
      margin: 0 4px;
      border-radius: 50%;
      background-color: $white;
      opacity: 0.7;
      transition: scale 200ms ease-in-out, opacity 200ms ease-in-out;
    }

    img {
      display: none;
    }

    &.tns-nav-active {
      button {
        transform: scale(1.33333);
        opacity: 1;
      }
    }
  }

  img {
    display: block;
    width: 100%;
  }

  @include responsive(T) {
    padding-right: 30px;

    &-slider {
      margin: 0 0 8px 0;
      border-radius: 4px;
      overflow: hidden;
    }

    &-thumbnail {
      position: static;
      transform: none;
    }

    .thumbnail-item {
      button {
        width: 56px;
        height: 56px;
        margin: 0 8px 0 0;
        border-radius: 4px;
        overflow: hidden;
        opacity: 1;
        transition: scale 200ms ease-in-out;
      }

      &:last-child button {
        margin-right: 0;
      }

      img {
        display: block;
      }

      &.tns-nav-active {
        button {
          position: relative;
          transform: none;

          &:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 2px solid $blue;
            border-radius: 4px;
            content: '';
          }
        }
      }
    }
  }
}
