.product-section {
  padding-bottom: 20px;

  &-divider {
    height: 8px;
    margin: 0 -15px; //TODO: grid constants로 빼기
    background-color: $border;
  }

  @include responsive(T) {
    padding-bottom: 80px;
    max-width: 692px;
    margin: 0 auto;
  }

  @include responsive(D) {
    margin: 0;
  }
}
