.product-recommendation {
  .product-list {
    @include flexbox(between, start);
    flex-wrap: wrap;
  }

  .product-item {
    a {
      display: block;

      &:active {
        img {
          transform: scale(1.1);
        }

        .product-card-text .title {
          opacity: 0.5;
        }
      }
    }

    // width: calc(50% - 10px); //(100% - 20px) / 2
    flex: 1 1 40%;
    margin: 0 20px 20px 0;

    &:nth-child(2n) {
      margin-right: 0;
    }

    // &:nth-child(2n + 1) {
    //   margin-right: 20px;
    // }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @include responsive(T) {
    .product-item {
      //   width: calc(33.3333333333% - 10.6666666667px); //(100% - 32px) / 3
      flex: 1 1 30%;
      margin: 0 16px 0 0;

      &:nth-child(2n) {
        margin-right: 16px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:last-child {
        display: none;
      }
    }
  }

  @include responsive(D) {
    .product-item a:hover {
      img {
        transform: scale(1.1);
      }

      .product-card-text .title {
        opacity: 0.5;
      }
    }
  }
}
