.product-inquiry {
  @include mobile-only {
    padding-bottom: 0;

    .product-section-header .text-button,
    .product-section-content {
      display: none;
    }

    &.is-open {
      padding-bottom: 20px;

      .product-section-header .text-button,
      .product-section-content {
        display: block;
      }

      .product-section-header .icon-button {
        display: none;
      }
    }
  }
}
