.product-recommendation {
  .product-list {
    @include inline-flexbox(start, start);
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .product-item {
    width: 50%;
    padding: 0 10px;
    margin-bottom: 20px;
    // width: calc(50% - 10px); //(100% - 20px) / 2
    // flex: 1 1 40%; //2단 레이아웃
    // margin: 0 20px 20px 0;

    &:nth-child(2n) {
      margin-right: 0;
    }

    // &:nth-child(2n + 1) {
    //   margin-right: 20px;
    // } //선택자 1,3,5,7..

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    a {
      display: block;

      &:active {
        img {
          transform: scale(1.1);
        }

        .product-card-text .title {
          opacity: 0.5;
        }
      }
    }
  }

  @include responsive(T) {
    .product-section-content {
      overflow-x: auto;
    }
    .product-list {
      margin: 0 -8px;
      flex-wrap: nowrap;
    }
    .product-item {
      width: 33.3333333333%;
      padding: 0 8px;
      flex-shrink: 0;

      // width: calc(33.3333333333% - 10.6666666667px); //(100% - 32px) / 3
      // flex: 1 1 30%; //3단 레이아웃
      // margin: 0 16px 0 0;

      //   &:nth-child(2n) {
      //     margin-right: 16px;
      //   }

      //   &:nth-child(3n) {
      //     margin-right: 0;
      //   }
    }
  }

  @include responsive(D) {
    .product-item a:hover {
      img {
        transform: scale(1.1);
      }

      .product-card-text .title {
        opacity: 0.5;
      }
    }
  }
}
