.product-section {
  padding-bottom: 20px;

  &-divider {
    height: 8px;
    margin: 0 -#{$grid-margin};
    background-color: $border;

    &.is-thick {
      height: 24px;
    }
  }

  @include responsive(T) {
    padding-bottom: 80px;
    max-width: 692px;
    margin: 0 auto;
  }

  @include responsive(D) {
    margin: 0;
  }
}
