.review-card {
  padding: 20px 0;

  &-header {
    @include flexbox(start, center);
    margin-bottom: 20px;

    .avatar-24 {
      margin-right: 8px;

      &:active {
        opacity: 0.4;
      }
    }

    .name {
      display: block;
      @include text-style(13, $primary);
      font-weight: 400;
    }

    .star-rating-13 {
      margin-right: 4px;
      display: inline;
      vertical-align: middle;
    }

    .date {
      @include text-style(12, $secondary);
      vertical-align: middle;
    }
  }

  &-body {
    margin-bottom: 20px;

    p {
      @include text-style(13, $primary);
    }

    .review-image {
      width: 64px;
      width: 64px;
      margin-bottom: 8px;
      border-radius: 4px;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-footer {
    @include flexbox(start, center);

    button {
      width: 120px;
      margin-right: 8px;

      i {
        margin-right: 4px;
        margin-left: -4px;
        font-size: 20px;
      }
    }

    .vote-text {
      @include text-style(12, $primary);

      strong {
        color: $dark;
      }
    }
  }

  @include responsive(T) {
    padding: 40px 0 40px 32px;

    &-header {
      margin-left: -32px;

      .date {
        @include text-style(13);
      }
    }

    &-body {
      p {
        @include text-style(14);
      }

      .review-image {
        width: 112px;
        width: 112px;
        margin-bottom: 16px;
      }
    }

    &-footer {
      .vote-text {
        @include text-style(13);
      }
    }
  }

  @include responsive(D) {
    &-header {
      .avatar-24 {
        &:hover {
          opacity: 0.4;
        }
      }
    }
  }
}
