// style, size, state

%btn-base {
  @include inline-flexbox(center, center);
  padding: 0 8px;
  border-radius: 4px;
  font-weight: 700;

  &.disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}

//NOTE: Button Styles
.btn-fill-primary {
  @extend %btn-base;
  color: $white;
  background-color: $blue;
  transition: background-color 300ms ease-in-out;

  &:hover {
    background-color: $blue-dark;
  }
}

.btn-fill-secondary {
  @extend %btn-base;
  color: $primary;
  background-color: $border;
  transition: background-color 300ms ease-in-out;

  &:hover {
    background-color: $tertiary;
  }
}

.btn-outlined {
  @extend %btn-base;
  color: $blue;
  background-color: $white;
  border: 1px solid $blue;
  transition: background-color 300ms ease-in-out;

  &:hover {
    background-color: $blue-light;
  }
}

.btn-ghost {
  @extend %btn-base;
  color: $primary;
  background-color: transparent;
  transition: color 300ms ease-in-out;

  &:hover {
    color: $secondary;
  }
}

//NOTE: Size Styles
.btn-32 {
  height: 32px;
  @include text-style(14);
}

.btn-40 {
  height: 40px;
  @include text-style(16);
}

.btn-48 {
  height: 48px;
  @include text-style(16);
}

.btn-55 {
  height: 55px;
  @include text-style(18);
}
