%price-base {
  @include inline-flexbox(start, center);

  .number {
    font-family: $font-price;
    line-height: 1;
  }
  .won {
    font-family: $font-main;
  }
}

.price-16,
.price-20,
.price-32 {
  @extend %price-base;
  color: $dark;

  .number {
    font-weight: 700;
    letter-spacing: -0.02em;
  }
  .won {
    font-weight: 700;
  }
}

.price-16 {
  .number {
    font-size: 16px;
  }
  .won {
    @include text-style(14);
  }
}

.price-20 {
  .number {
    font-size: 20px;
  }
  .won {
    @include text-style(16);
  }
}

.price-32 {
  .number {
    font-size: 32px;
  }
  .won {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
  }
}

.price-original {
  @extend %price-base;
  color: $secondary;

  .number {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.01em;
    text-decoration: line-through;
  }
  .won {
    @include text-style(14);
    font-weight: 400;
  }
}

.discount-rate {
  @include inline-flexbox(start, center);
  font-weight: bold;
  color: $blue;

  .number {
    font-family: $font-price;
  }
  .percent {
    font-family: $font-main;
  }
}
