.floating-order-form {
  $global-header-height: $gnb-height-md + $lnb-height-md +
    $product-tab-height-md;

  position: sticky;
  top: $global-header-height;
  @include column-flexbox(start, start);
  max-height: calc(100vh - #{$global-footer-height});
  min-height: calc(100vh - #{$global-header-height + $global-footer-height});
  padding: 24px 0;

  > * {
    width: 100%;
  }

  .order-input,
  .order-summary,
  .button-group {
    flex: 0 0 auto;
  }

  .order-checkouts {
    flex-grow: 1;
    overflow-y: auto;
    @include no-scrollbar();
  }

  .button-group {
    .bookmark-button {
      flex: 0 0 auto;
      width: 55px;
      height: 55px;
      border: 1px solid $border;
      border-radius: 4px;
      transition: background-color 300ms ease-in-out;

      &:hover {
        background-color: $background;
      }

      i {
        font-size: 32px;
        color: $primary;
      }

      &.is-active {
        i {
          color: $blue;
        }
      }
    }
  }
}
