.global-footer {
  padding: 32px 0 40px;
  background-color: $background;

  &-title {
    @include text-style(13, $dark);
    font-weight: 700;

    .ic-chevron {
      display: inline-block;
      font-size: 12px;
      transform: rotate(-90deg);
    }
  }

  &-contact {
    @include text-style(24, $dark);
    font-weight: 700;
  }

  &-time {
    margin-bottom: 24px;
    @include text-style(12, $primary);
  }

  &-detail-list {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: $secondary;
  }

  &-detail-item {
    @include flexbox(start, center);

    dt::after {
      margin: 0 2px;
      content: ':';
    }
  }

  @include responsive(D) {
    &-title {
      @include text-style(14);
    }

    &-contact:hover {
      opacity: 0.5;
    }

    &-detail-list {
      @include flexbox(start, center);
    }

    &-detail-item {
      a {
        &:hover {
          text-decoration: underline;
        }
      }
      &:not(:last-child)::after {
        display: inline-block;
        width: 1px;
        height: 10px;
        margin: 1px 8px 0 8px;
        background-color: $secondary;
        content: '';
        vertical-align: top;
      }
    }
  }
}
