.gnb {
  position: relative;
  border-bottom: 1px solid $border;

  &-wrapper {
    @include flexbox(between, center);
    height: 50px;
  }

  &-right {
    .button-group {
      @include inline-flexbox(end, center);
    }
  }

  &-icon-button {
    &.is-search {
      margin-right: 4px;
    }
  }

  .logo {
    @include position-center(absolute);

    a {
      display: block;
    }

    img {
      display: block;
      height: 20px;
    }
  }

  @include responsive(T) {
    &-wrapper {
      height: 80px;
    }

    &-left {
      @include flexbox(start, center);
    }

    &-right {
      @include flexbox(end, center);

      .button-group {
        margin-right: 24px;

        .gnb-icon-button {
          margin-right: 8px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .logo {
      position: static;
      transform: none;
      margin-right: 32px;

      img {
        height: 24px;
      }
    }

    .btn-fill-primary {
      width: 88px;
      i {
        margin-left: 4px;
      }
    }
  }

  @include responsive(D) {
    &-right {
      .input-group {
        width: 264px;
        margin-right: 14px;
      }
    }
  }
}
