.container {
  width: 100%;
  padding: 0 $sm-margin;
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  // .col-sm-1 .col-md-2 .col-lg-3
  [class^='col-'] {
    padding: 0 $gutter / 2;
  }

  // 반복문
  @for $i from 1 through $sm-columns {
    .col-sm-#{$i} {
      // width: $i / $sm-columns * 100%;
      width: percentage($i / $sm-columns);
    }
  }
}

@include responsive(T) {
  .container {
    max-width: $md-max-container;
    padding: 0 $md-margin;

    @for $i from 1 through $md-columns {
      .col-md-#{$i} {
        width: percentage($i / $md-columns);
      }
    }
  }
}

@include responsive(D) {
  .container {
    max-width: $lg-max-container;
    padding: 0;

    @for $i from 1 through $lg-columns {
      .col-lg-#{$i} {
        width: ($lg-unit + $gutter) * $i;
      }
    }
  }
}
