.product-tab {
  $grid-margin: $sm-margin + $gutter / 2;

  position: sticky;
  top: $gnb-height-sm + $lnb-height-sm;
  z-index: $product-tab-level;
  height: 40px;
  border-bottom: 1px solid $border;
  background-color: $white;

  &-list {
    display: flex;
    margin: 0 -#{$grid-margin};
  }

  &-item {
    flex: 1 0 0;

    button {
      width: 100%;
      height: 40px;
      border-bottom: 2px solid transparent;
      @include text-style(13, $dark);
      font-weight: 700;
      white-space: nowrap;

      .count {
        margin-left: 4px;
        @include text-style(12, $secondary);
      }

      &:active {
        color: $blue;
      }
    }

    &.is-active {
      button {
        border-color: $blue;
        color: $blue;
      }
    }
  }

  @include responsive(T) {
    top: $gnb-height-md + $lnb-height-md;
    height: 54px;
    margin: 40px 0;
    background-color: $background;
    border-bottom: 0;

    &-list {
      margin: 0;
    }

    &-item {
      button {
        height: 54px;
        @include text-style(16);

        .count {
          margin-left: 8px;
          @include text-style(16);
        }
      }
    }
  }

  @include responsive(D) {
    &-item button:hover {
      color: $blue;
    }
  }
}
