.sidebar {
  $sidebar-width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $sidebar-level;
  width: $sidebar-width;
  height: 100vh;
  overflow-y: auto;
  padding: 32px 20px;
  background-color: $white;
  overscroll-behavior: contain;
  transform: translate3d(-#{$sidebar-width}, 0, 0);
  transition: transform 300ms ease-in-out;
  @include no-scrollbar;

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  &-header {
    padding: 0 12px;

    .logo {
      @include flexbox(start, center);

      a {
        display: block;
      }

      img {
        display: block;
        height: 20px;
      }
    }
  }

  &-user,
  &-auth {
    @include flexbox(start, center);
    height: 88px;
  }

  &-user {
    a {
      width: 100%;
      @include flexbox(start, center);
      @include text-style(14, $primary);
      font-weight: 700;
    }

    .avatar-24 {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 8px;
    }

    .username {
      flex-grow: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &-auth {
    justify-content: space-between;

    a {
      width: 84px;
    }
  }

  &-nav {
    .drawer-menu {
      border-top: 1px solid $border;

      &.is-expert {
        border-bottom: 1px solid $border;
      }
    }
  }

  &-user-menu {
    margin-top: 16px;

    .user-menu-item {
      a {
        @include flexbox(start, center);
        width: 100%;
        height: 36px;
        padding: 0 12px;
        @include text-style(14, $primary);

        &:active {
          color: $blue;
        }
      }
    }
  }
}
